<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662010825679-t17k4q4cpiiuk67q1g7h7srfg3aj2sdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662010825679-t17k4q4cpiiuk67q1g7h7srfg3aj2sdi</string>
	<key>API_KEY</key>
	<string>AIzaSyBEnQJxKbJI0HT19tBZVyxr4c3FYUPSOoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>662010825679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haroon.heylolTask</string>
	<key>PROJECT_ID</key>
	<string>heylol-task</string>
	<key>STORAGE_BUCKET</key>
	<string>heylol-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662010825679:ios:61816d4d5dcc34c89320ba</string>
	<key>DATABASE_URL</key>
	<string>https://heylol-task.firebaseio.com</string>
</dict>
</plist>